@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Play:400,700&subset=cyrillic');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

a,
a:focus {
    color: #000;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

a:hover {
    color: #4686ff;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin-bottom: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    word-break: break-word;
    margin-top: 0;
    position: relative;
}

b {
    font-family: Play;
}

.o-hidden {
    overflow: hidden;
}

h1 {
    font-size: 30px;
    font-family: Play;
    font-weight: 400;
    margin-bottom: 30px;
}

.header__sign a {
    background: #324149;
    display: inline-block;
    padding: 5px 10px 10px;
    position: relative;
}
.header__sign a:hover {
    background: #09eecf;
}
.header__sign a span{
    position: absolute;
    white-space: nowrap;
    text-align: center;
    right: -10px;
    top: 110%;
    background: #f5f5f5;
    padding: 5px 15px;
    border-radius: 50px;
    box-shadow: 0 0 10px #ccc;
    transition: all .3s;
    opacity: 0;
    color: #000;
    pointer-events: none;
    font-size: 14px;
}
.header__sign a:hover span {
    opacity: 1;
}

.header__sign img {
    width: 17px;
}

section {
    margin-bottom: 30px;
    background: #f5f5f5;
    padding: 20px 30px;
}

header {
    padding: 30px 0;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 30px;
}
.home header {
    border-bottom: none;
    margin-bottom: 0;
}
.header__logo img {
    max-height: 30px;
}

.nav a {
    font-family: Play;
    font-weight: 700;
    margin: 0 30px 0 0;
    position: relative;
    font-size: 16px;
}

.nav a:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #4686ff;
    bottom: -7px;
    left: calc(50% - 3px);
    border-radius: 50%;
    transition: all .3s;
    opacity: 0;
}

.nav a:hover:after {
    opacity: 1;
}

.nav a.active {
    color: #4686ff;
}

.nav a.active:after {
    opacity: 1;
}

.img_cover,
.img_contain {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.img_cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.img_contain img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    max-width: 80%;
}
.img_cover_width img {
    height:auto;
    width: 100%;
}
.btn {
    font-weight: 700;
    font-family: Play;
    border: 2px solid #000;
    padding: 10px 30px;
    text-transform: uppercase;
    background: transparent;
}

.btn:hover {
    color: #000;
    border-color: #60efd0;
}
.btn-sm {
    border: 1px solid #000;
    padding: 6px 30px;
}
.slide_title {
    font-family: Play;
    display: flex;
    flex-direction: column;
}

.slide_header {
    margin: auto;
    position: relative;
}

.slide_header_sign {
    margin: auto;
    font-size: 18px;
}

.slide_header h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 700;
}

.justify-content-evenly {
    -webkit-box-pack: space-evenly !important;
    -ms-flex-pack: space-evenly !important;
    justify-content: space-evenly !important;
}

.slide_header_rotate {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    -webkit-writing-mode: vertical-rl;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    text-align: center;
    font-size: 18px;
    letter-spacing: 22px;
    font-weight: 700;
    margin-top: -25px;
    line-height: 25px;
    color: #60efd0;
}
.lSSlideOuter .lSPrev, .lSSlideOuter .lSNext {
    height: 0;
    width: 0;
}
.btn_slider {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #000;
    transition: all .3s;
    cursor: pointer;
    position: relative;
}
.btn_slider__next {
    margin-left: 40px;
}
.btn_slider:hover {
    border:1px solid #0086ff;
}
.btn_slider svg {
    width: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    fill: #000;
    transition: all .3s;
}

.btn_slider:hover svg {
    fill: #0086ff;
}
.partners_slider .item_wrap {
    height: 100%;
}

.partners_slider .item_wrap img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: all .3s;
    max-height: 40%;
}

.partners_slider .item_wrap a:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;
}

.section_header h2,
.section_header h3 {
    font-family: Play;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}

.section_header h3 {
    font-size: 20px;
}

.section_header h1 span,
.section_header h2 span,
.section_header h3 span {
    color: #60efd0;
}

.link_all svg {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all .3s;
}

a:hover svg {
    fill: #4686ff;
}

.link_all a {
    font-size: 12px;
    position: relative;
    padding-right: 25px;
    display: inline-block;
}

.number_count {
    font-family: Play;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #60efd0;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    line-height: 90px;
}

.number_desc {
    text-align: center;
}

.in_number_odd > [class^="col"] {
    margin-bottom: 135px;
}

.in_number_odd > [class^="col"]:nth-child(even) {
    transform: translateY(106px);
}

.number_item {
    background: #ffffff;
    height: 100%;
    position: relative;
    margin: 0 20px;
    padding: 20px 0;
}

.number_item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    border-right: 50px solid #fff;
    border-top: 104px solid transparent;
    border-bottom: 104px solid transparent;
}

.number_item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    border-left: 50px solid #fff;
    border-top: 104px solid transparent;
    border-bottom: 104px solid transparent;
}

.number_desc {
    font-size: 14px;
}

.number_count:after {
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    background: #60efd1;
    position: absolute;
    border-radius: 50px;
}

.number_count_small {
    font-size: 30px;
}

.in_number {
    background: url('../img/in_number.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.number_count img {
    width: auto;
    max-height: 60px;
}

.mb30 {
    margin-bottom: 30px !important;
}

.news_main {
    height: 100%;
}

.news_link {
    position: absolute;
    padding: 15px;
    margin: 5px;
    background: rgba(50, 64, 73, .8);
    color: #fff;
    height: calc(100% - 10px);
    left: 0;
    right: 0;
    top: calc(100% - 102px);
    transition: all .3s;
}

a:hover .news_link {
    top: 0;
}

.sensor .news_link {
    top: 0;
}

.news_title {
    display: flex;
    min-height: 72px;
    margin-bottom: 10px;
    font-size:16px;
}

.news_title > div {
    margin: auto;
    font-family: Play;
    text-align: center;
    transition: all .3s;
}

a:hover .news_link .news_title > div {
    color: #60efd0;
}

.sensor .news_link .news_title > div {
    color: #60efd0;
}
.member_title{
    height:72px;
    transition: all .3s;
}
a:hover .member_title{
    height:100%;
}
.news_desc {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
}

.news_date {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: Play;
    font-size: 12px;
}

.news_more {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-family: Play;
    font-size: 12px;
    text-decoration: underline;
    transition: all .3s;
}
.member_more {
    color: #f5f5f5;
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: none;
    right: 50%;
    bottom: 20%;
    transform: translateX(50%);
}
.vacancy_link {
    top: 0;
    background: rgba(50, 64, 73, .8);
    padding: 15px;
    overflow: hidden;
    position: relative;
    transition: all .3s;
}
.vacancy_link img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    opacity: .2;
}
.vac_comp {
    color: #ffffff;
    position: relative;
}

.vac_city {
    font-family: Play;
    color: #fff;
    margin-top: 50px;
    position: relative;
}

.vac_more {
    position: absolute;
    bottom: 15px;
    right: -100px;
    font-family: Play;
    font-size: 12px;
    text-decoration: underline;
    transition: all .3s;
    color: #ffffff;
}

.vac_title {
    font-family: Play;
    color: #60efd0;
    font-size: 18px;
    position: relative;
}

a:hover .vacancy_link {
    background: rgba(50, 64, 73, 1);
}

a:hover .vac_more {
    right: 15px;
}

footer {
    background: #324049;
    padding: 20px 30px;
    font-size: 12px;
}

footer img {
    max-height: 30px;
}

footer p {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 10px;
}

footer a {
    color: #fff;
}

.vk {
    height: 15px;
    transition: all .3s;
    margin: 4px 0;
    fill: #fff;
}

a:hover .vk {
    fill: #5B719A;
}

.fb {
    height: 25px;
    transition: all .3s;
    margin-left: 15px;
    fill: #fff;
}

a:hover .fb {
    fill: #5266AB;
}
.copyright {
    color: #fff;
    display: block;
}
.section_header {
    margin-bottom: 30px;
}

.preim_item {
    padding: 25px 25px;
}

.preim_item img {
    width: 35px;
}

.preim_item p {
    font-family: Play;
    font-size: 23px;
    line-height: inherit;
}

.preim_title {
    position: absolute;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 30px;
    background: radial-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.preim_title p {
    margin: auto;
    font-family: Play;
    font-size: 40px;
    text-align: center;
    line-height: inherit;
    font-weight: 700;
}

.col-auto {
    max-width: 100%;
}
.pb_30 {
    padding-bottom: 35%;
}
.pb_70 {
    padding-bottom: 70%;
}
.form_join_link svg {
    height: 16px;
    margin-right: 7px;
    transition: all .3s;
}

form {
    padding: 40px 20%;
}

input, textarea {
    width: 100%;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #777;
    background: transparent;
    transition: all .3s;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #60efd0;
}

select {
    width: 100%;
}

.input_row input {
    margin-bottom: 0;
}
#file_rezume {
    display: none;
}

label[for="file_rezume"] {
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 20px;
}

label[for="file_rezume"]:hover {
    color: #4686ff;
}

label[for="file_rezume"] svg {
    height: 26px;
    width: 26px;
    position: relative;
    top: 8px;
    margin-right: 5px;
}
.pro_content {
    margin-bottom: 20px;
}

.pro_content > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    opacity: 0;
    pointer-events: none;
}

.pro_content > div.active {
    opacity: 1;
    pointer-events: auto;
}

.pro_links > p {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    font-family: Play;
    transition: all .3s;
}

.pro_links > p.active {
    color: #4686ff;
}

form.search {
    padding: 0;
    position: relative;
}

form.search input {
    margin-bottom: 0;
}

form.search button {
    position: absolute;
    right: 0;
    top: 0;
    height: 27px;
    width: 27px;
    border: none;
    background: url(../img/search.png) 50% no-repeat;
    background-size: 70%;
    cursor: pointer;
}

.pagination {
    font-family: Play;
}

.section_header time {
    display: block;
    margin-top: -.5rem;
    font-size: 12px;
}

.news_author {
    font-size: 14px;
}

.share {
    margin: 30px 0;
}

.share a {
    margin-left: 5px;
}
.share img {
    max-height:20px;
    max-width:20px;
}
.member_link {
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50%;
    padding-bottom: 50%;
    transition: all .3s;
}

.member_link img {
    max-height: 60%;
    max-width: 60%;
    height: auto;
    width: auto;
}

a:hover .member_link {
    opacity: 0;
}

.contact_data a {
    font-family: Play;
    font-weight: 700;
}

.greyscale-100 {
    filter: grayscale(100%);
}

.forgot {
    font-size: 12px;
    margin-top: 15px;
}

.login section {
    height: 100%;
    margin-bottom: 0;
}

.nav_lk {
    margin: 30px 0;
}

.nav_lk a {
    margin-right: 50px;
}

.nav_lk a:after {
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 0;
    bottom: -2px;
}

.nav_lk a.active, .nav_lk a:hover {
    color: #000;
}

.add_vak {
    font-family: Play;
    font-weight: 700;
    padding-left: 25px;
    position: relative;
}

.add_vak:before,
.add_vak:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    transition: all .3s;
}

.add_vak:before {
    left: 0;
    width: 16px;
    height: 2px;
}

.add_vak:after {
    left: 7px;
    width: 2px;
    height: 16px;
}

.add_vak:hover:before,
.add_vak:hover:after {
    background: #4686ff;
}

#lk_logo {
    display: none;
}

#lk_logo + label {
    width: 100%;
    background: #f5f5f5;
    cursor: pointer;
    min-height: 200px;
    display: flex;
}

#lk_logo + label p {
    font-family: Play;
    font-weight: 700;
    margin: auto;
}

#lk_logo + label svg {
    height: 21px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

#agree {
    display: none;
}

#agree + label {
    font-family: Play;
    font-weight: 700;
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}

#agree + label:before,
#agree + label:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
}

#agree + label:before {
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
}

#agree:checked + label:before {
    border: 2px solid #4686ff;
}

#agree + label:after {
    height: 6px;
    width: 6px;
    left: 5px;
    background: #000;
    opacity: 0;
}

#agree:checked + label:after {
    opacity: 1;
}

.sfera_d {
    position: relative;
}

.add_sfera {
    position: absolute;
    right: 0;
    bottom: 15px;
    height: 20px;
    width: 30px;
    background: #fff;
    cursor: pointer;
    z-index: 1;
}

.add_sfera:before,
.add_sfera:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
    color: #4686ff;
}

.add_sfera:before {
    height: 2px;
    width: 20px;
    background: currentColor;
    right: 0;
}

.add_sfera:after {
    height: 20px;
    width: 2px;
    background: currentColor;
    right: 9px;
}

.add_sfera p {
    position: absolute;
    right: 0;
    bottom: 120%;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 50px;
    pointer-events: none;
    opacity: 0;
    transition: all .3s;
    z-index: 1;
}

.add_sfera:hover p {
    opacity: 1;
}

.remove_sfera {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    cursor: pointer;
    right: 0;
    top: 0;
}

.remove_sfera:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: #ff0000;
}

.dop_sfera {
    position: relative;
}

.support {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.support p {
    text-align: center;
    font-family: Play;
    font-size: 20px;
}

.support a {
    color: #4784f8;
}

.form_mp {
    margin-bottom: 30px;
}

.form_mp [type="submit"] {
    margin-left: 30px;
}

.lk_news_edit {
    text-align: right;
    margin-top: 10px;
}

.lk_news_edit img {
    max-height: 20px;
}

.lk_news_edit a + a {
    margin-left: 10px;
}

#lk_photo_news {
    display: none;
}

#lk_photo_news + label {
    width: 100%;
    background: #f5f5f5;
    cursor: pointer;
    min-height: 200px;
    display: flex;
    border: 1px solid #ccc;
}

#lk_photo_news + label p {
    font-family: Play;
    font-weight: 700;
    margin: auto;
}

#lk_photo_news + label svg {
    height: 21px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.page-link {
    background: transparent;
    border: none;
}

.page-link:hover {
    background: transparent;
}
.breadcr {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 11px;
    color: #aaa;
}

.breadcr a {
    color: #aaa;
}

.breadcr a:hover {
    color: #5e83fb;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (max-width: 1199px) {
    .news_title > div {
        font-size: 14px;
    }

    .preim_item p {
        font-size: 16px;
    }

    .preim_title p {
        font-size: 30px;
    }

    .number_item:before,
    .number_item:after {
        content: none;
    }

    .number_item {
        margin: 0;
        padding: 0;
        background: transparent;
    }

    .in_number_odd > [class^="col"] {
        margin-bottom: 0;
        transform: none !important;
    }
}

@media (max-width: 991px) {
    .slide_header h1 {
        font-size: 23px;
    }

    .slide_header_rotate {
        font-size: 9px;
        margin-top: -10px;
    }

    .slide_header_sign {
        font-size: 16px;
        text-align: center;
    }

    .section_header h2 {
        font-size: 20px;
    }

    .nav {
        flex-direction: column;
    }

    .preim_item img {
        width: 30px;
    }

    form {
        padding: 40px 0;
    }
}

@media (max-width: 767px) {
    footer img {
        margin-bottom: 30px;
    }

    footer {
        text-align: center;
    }

    .section_header h2 {
        font-size: 20px;
    }

    .number_count {
        font-size: 40px;
        line-height: 90px;
    }

    .number_count_small {
        font-size: 20px;
    }

    .number_count img {
        max-height: 40px;
    }

    .input_row input {
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .slide_right {
        padding: 30px 0;
    }

    .header__logo {
        width: 100% !important;
        text-align: center;
        margin-bottom: 30px;
    }

    .preim_title p {
        font-size: 20px;
    }

    .preim_item p {
        font-size: 14px;
    }

    .contact_data .row {
        margin-bottom: 15px;
    }
}




















